/* Sidr Navigation */


#sidr {
	background-color: $light_gray;
	text-align: center;
	.search_form{
		margin: 20px auto;
		.search_text{
			width: 180px;
		}
	}
	ul{
		text-align: left;
		list-style: none;
	    margin: 0em;
	    padding: 0em;
		li{
			margin: 0px;
			display: block;
			a{
				display: block;
				font-size: 90%;
				padding: 8px 15px 8px 38px;
				text-decoration: none;
				color: $dark_gray;
				transition: background-color 0.25s ease, color 0.25s ease;
			}
			a:hover{
				color: $primary-color;
				background-color: $highlight;
			}
			a.ontarget{
				background-color: $highlight;
			}
		}
	}


  h3 {
    background: $primary-color;
    color: white;
    margin: 0em;
    padding: 0.5em 0em 0.5em 0em;
    text-align: center;
  }

  a.book_part_link, a.book_part_link:hover {
    @extend h3;
    font-size: 110%;
    text-decoration: none;
    color: white;
    background: $primary-color;
  }
  .book_part_full_table_of_contents_item {
    border-bottom: 1px solid #c8c6c6;
    .book_chapter_full_table_of_contents {
      background-color: #ddd6d6;
      border-bottom: 1px solid #c8c6c6;
      .book_section_table_of_contents {
        background-color: #b2b2b2;
        border-bottom: 1px solid #c8c6c6;
        .book_subsection_link {
          margin-left: 1em;
        }
      }
    }
    .book_link {
    }
  }
  .search_form {
  }
}