/* Search Module */

.search_page {
  padding: 0px 5% 2% 5%;
}

/*Redoing the Search */
.search_link {  
  background: white url("images/searchIcon.png") no-repeat;
  background-position: 96% 50%;
  border: 1px solid $primary-color;
  padding: 5px 8px;
  display: inline-block;
  margin-top: 16px;
  height: 35px;
  width: 250px;
  input[type=text] {  
  display: inline-block;
  line-height: 1.6em;
  padding: 0.2em 0.4em;
  margin: 1px;
  font-size: 1em;
  width: 250px;
  outline: 0px;
  border:none;
    input[type=button]{
    }
  }
}

/* Original SCSS */

.search_form {
  background: white url("images/searchIcon.png") no-repeat;
  background-position: 98% 50%;
  background-color: white;
  border: 1px solid $primary-color;
  padding: 5px 8px;
  display: inline-block;
  margin-top: 16px;
  width: 80%;
  max-width: 600px;
  input[type=text] {  
  display: inline-block;
  line-height: 1.6em;
  padding: 0.2em 0.4em;
  margin: 1px;
  font-size: 1em;
  height: 35px;
  outline: 0px;
  border:none;
    input[type=button]{
    }
  }
}

.search_button {
  background: white url("images/searchIcon.png") no-repeat;
  background-position: 50% 50%;
  width: 22px;
  height: 22px;
  border: none;
  outline: 0px;
  padding: 5px 0px;
  margin-right: 10px;
}
.search_button:hover{
  cursor: pointer;
}

ol.search_results {
  margin: 0;
  margin-left: 3em;
  padding: 0;
  counter-reset: li-counter;
  li {
    list-style-type: none;
    list-style-image: none;
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 2em;
    border-left: 2px solid #cccccc;
  }
  li:before {
    position: absolute;
    top: 0;
    left: -1.5em;
    width: 0.8em;
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
  }
}

.search_form_block {
  display: none;
}

.search_results_block {
  display: none;
}
