<div id="header">
  <div id="amssLink">
    <a href="http://eoffer.gsa.gov/AMSupport/index.html">← Back to the eOffer/eMod Help Center</a>
  </div>
  <div id="header_left">
    <div id="navButton">
      <a class="sidr_block" href="#sidr"></a>
    </div>
    <div id="navigation_menu">
      <div class="main_menu_block"/>
    </div>
    <h2><span class='menu_node_link_block'>book_book_page/modules%2Fbook%2Fdatabase.xml/fpt</span></h2>
  </div>
  <div id="header_right">
    <div class='search_link_block clearfix'>search/search//0/20</div>
  </div>
</div>
